* {
  margin: 0;
  padding: 0;
  font-family: barlow;
  text-align: center;
  color: #191724;
}
@page {
  size: A4;
}

a {
  color: #d8367a;
}
p,
a {
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  padding: 20px;
}

h2 {
  align-self: flex-start;
  padding: 10px;
  margin-top: 30px;
  break-before: page;
}
h4 {
  text-align: left;
  margin: 7px 0 15px 0;
}
.card {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 10px;
  border: solid 2px #1f1d2e;
  border-radius: 10px;
  gap: 10px;
}
#score {
  grid-column: 1;
}
#changes {
  grid-column: 2;
}
.card a {
  grid-column: 1;
}
br {
  display: block;
  margin: 7px 0;
}
.card-content {
  grid-column: 2;
  border: solid 2px #1f1d2e;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
}
p,
li {
  text-align: left;
}
li {
  margin: 10px 20px;
}
ol {
  margin-left: 20px;
}

pre {
  text-align: left;
  transform: translateX(-40px);
}
code {
  font-family: jetbrains mono;
  font-size: 0.9em;
}
.card h3 {
  grid-column: 1 / 3;
}
